@font-face {
    font-family: RobotoMono-Thin;
    src: url(./fonts/RobotoMono-Thin.ttf);
}

body {
    font-family: 'Roboto Mono', monospace;
    background: #e53935;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e35d5b, #e53935);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e35d5b, #e53935); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

div {
    margin-top: 1em;
}

.stopwatcher {
    font-size: 11em;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
}

button {
    background: transparent;
	color: #fff;
	border: 0.1em solid #fff;
	border-radius: 2em;
	padding: 0.8rem 2rem;
	font: 1.2em 'Roboto Mono', monospace;
	outline: none;
	cursor: pointer;
	position: relative;
	transition: 0.2s ease-in-out;
    letter-spacing: 2px;
    margin: 0.3em;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
}